*{
    margin:0;
    padding:0;
}
nav{
    color: white;
    background: black;
    padding-left: 20px;
    padding: 30px;
}
li,h1,ul{
    display:inline;
}
u1{
    margin-left: 60%;
}
li{
    color:gray;
}
li:hover{
    color:white;
}
li{
    cursor: pointer;
}
input{
    width: 60%;
    padding:15px;
}
.searchbar{
    padding :50px;
    text-align: center;
}
.categories{
    padding: 20px;
    border-width: 2px;
    cursor: pointer;

}
.r15{
    padding:20px;
}
.i11{
    padding: 20px;
}
.box{
    border-color:black;
    border-width:2px ;
    border-style:solid;
    display:inline-block;
    padding: 1px;
    cursor: pointer;
    margin-left:50px;
    margin-bottom: 50px;
    padding: 20px;
    border-color:black;
    border-width:2px;
    border-style:solid;
    display:inline-blocK;
}
.ktm{
    border-color:black;
    border-width:2px ;
    border-style:solid;
    display:inline-block;
    padding: 1px;
    cursor: pointer;
    margin-left:50px;
    margin-bottom: 50px;
    padding: 20px;
    border-color:black;
    border-width:2px;
    border-style:solid;
    display:inline-blocK;

}
.duke{
    border-color:black;
    border-width:2px ;
    border-style:solid;
    display:inline-block;
    padding: 1px;
    cursor: pointer;
    margin-left:50px;
    margin-bottom: 50px;
    padding: 20px;
    border-color:black;
    border-width:2px;
    border-style:solid;
    display:inline-blocK;
}
a{
    text-align: left;
}
.box:hover{
    opacity: 0.9;

}
.ktm:hover{
    opacity: 0.9;
}
.duke:hover{
    opacity: 0.9;
}

 img{
    height: 220px;
    width: 220px;
}
.products{
    text-align: center;
}
.select-container{
    display:flex;
    justify-content: center;
    position:relative;
    min-width: 250px;
    height:50px;
}

